
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Blog entries -->

    <!-- Blog entry -->
  
        <img src="https://www.w3schools.com/w3images/woods.jpg" alt=" nature" style="width:100%">
        <div class="w3-container">
            <h3><b>Makale Oluşturalım</b></h3>
        </div>
    
